#!/bin/bash
VM_NAME="vmname"
REDIS_HOST_PORT=16379
REDIS_PASSWORD=redis-password
REDIS_CONTAINER_IMAGE=redis/redis-stack:latest
REDIS_CONTAINER_PORT=6379
REDIS_CONTAINER_NAME=redis-stack
ADMIN_HOST_PORT=8080
ADMIN_CONTAINER_PORT=8001
ADMIN_CONTAINER_NAME=ADMIN

